"..\\youtube_crawling\\main.py":
	path: "..\\youtube_crawling\\main.py"
	cwd: "..\\youtube_crawling"

"..\\youtube_crawling\\main.py 2":
	path: "..\\youtube_crawling\\main.py"
	cwd: "..\\youtube_crawling"

"..\\youtube_crawling\\get_information.py":
	path: "..\\youtube_crawling\\get_information.py"
	cwd: "..\\youtube_crawling"
